.corpo{
    background-color :indigo;
    height: max-content;
    margin: 0vh 15vw 0px 15vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFF;
    font-family: sans-serif;
    font-weight: bold;

}
.titulo{
    font-size: xx-large;
    border-bottom: 1px solid #FFF;
    padding: 15px;
}

.menu button{
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: large;
    color :indigo;
}
.formulario input {
    padding: 4px;
    border: none;
    overflow: visible;
    width: 300px;
    
}
.menu button {
    margin:5px 10px 0px 10px;
}
.menu {
    padding: 0px 10px;
    background-color: rgb(161, 120, 190);
}
.listagem{
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(161, 120, 190);
    border-radius: 0px 0px 10px 10px;
}
.table thead th{
    border-bottom: 0px;
}
table{
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table, th, td {
    background-color: #FFF;
    color: indigo;
}

.acoes{
    display: flex;
    flex-direction: row;
    cursor: pointer;

}
.acoes div{
    margin: 0px 2px;
}
.acoes svg{

    width: 30px;
    height: 30px;
}
.coluna-acao-titulo{
    width: 45px;
}
.coluna-codigo{
    width: 40px;
    text-align: center;
}

.acao-editar svg{ fill: rgb(35, 65, 201); }

.acao-apagar svg{ fill: rgb(255, 0, 0); }

.acao-buscar svg{ fill: indigo; }

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
}
.cls-1 {
    fill-rule: evenodd;
}

.pop-up-mensagem{
    font-size: large;
}

@media (max-width: 900px) {
    .listagem{
        padding: 5px 10px;
        font-size: small;
    }
    .menu{
        padding-left: 0px;
    }
    .corpo{
        margin: 0px 1vw;
        margin-bottom: 50px;
    }
}
@media (max-width: 400px) {
    .listagem td{
        padding: 2px 4px;
    }
}
