<div class="corpo">
    <div class="titulo">{{getTitulo()}}</div>
    <div class="menu">
        <button (click)="adicionarRedirect()">Adicionar</button>
    </div>
    <div class="listagem">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="coluna-codigo" scope="col">#</th>
                    <th *ngFor="let coluna of arrayColunas " scope="col">{{coluna}}</th>
                    <th class="coluna-acao-titulo" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let elemento of arrayLinhas '>
                    <td *ngFor="let atributo of elemento">{{ atributo }}</td>
                    <td class="coluna-acao acoes">
                        <div (click)="buscarRedirect(elemento)" class="acao-buscar">
                            <svg viewBox="0 -5 120 130">
                                <g>
                                    <path class="st0"
                                        d="M61.44,122.88C27.51,122.88,0,95.37,0,61.44C0,27.51,27.51,0,61.44,0s61.44,27.51,61.44,61.44 C122.88,95.37,95.37,122.88,61.44,122.88L61.44,122.88z M44.98,88.07h18.36l19.33-26.63L63.34,34.81H44.98l19.33,26.63L44.98,88.07 L44.98,88.07z" />
                                </g>
                            </svg>
                        </div>
                        <div (click)="editarRedirect(elemento)" class="acao-editar">
                            <svg viewBox="0 -5 120 130">
                                <path class="st0"
                                    d="M61.44,0c33.93,0,61.44,27.51,61.44,61.44c0,33.93-27.51,61.44-61.44,61.44S0,95.37,0,61.44 C0,27.51,27.51,0,61.44,0L61.44,0z M52.56,84c-1.82,0.61-3.68,1.17-5.5,1.77c-1.82,0.61-3.64,1.21-5.5,1.82 c-4.34,1.4-6.71,2.19-7.23,2.33c-0.51,0.14-0.19-1.86,0.89-6.06l3.45-13.19l26.01-27.04l13.85,13.33L52.56,84L52.56,84L52.56,84z M78.48,33.84c-0.65-0.61-1.4-0.93-2.24-0.89c-0.84,0-1.59,0.33-2.19,0.98l-4.94,5.13l13.85,13.38l4.99-5.22 c0.61-0.61,0.84-1.4,0.84-2.24c0-0.84-0.33-1.63-0.93-2.19L78.48,33.84L78.48,33.84L78.48,33.84z" />
                            </svg>
                        </div>
                        <div (click)="apagarRedirect(elemento)" class="acao-apagar">
                            <svg viewBox="0 -5 120 130">
                                <path class="cls-1"
                                    d="M61.44,0A61.46,61.46,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0ZM78.06,38.29l6.53,6.53a4,4,0,0,1,0,5.63l-11,11,11,11a4,4,0,0,1,0,5.63l-6.53,6.53a4,4,0,0,1-5.63,0l-11-11-11,11a4,4,0,0,1-5.63,0l-6.53-6.53a4,4,0,0,1,0-5.63l11-11-11-11a4,4,0,0,1,0-5.63l6.53-6.53a4,4,0,0,1,5.63,0l11,11,11-11a4,4,0,0,1,5.63,0Z" />
                            </svg>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [collectionSize]="this.colecao" [(page)]="page" [pageSize]="10"
            (pageChange)="atualizarPagina(page)" [maxSize]="5">
        </ngb-pagination>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Olá</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body pop-up-mensagem">
        {{ this.mensagem }}<br>{{ this.detalhes }}
    </div>
</ng-template>