.header{
    background-color: indigo;
    height: 60px;
    color: #FFF;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    width: 30%;
    flex-direction: row;
    justify-content: flex-start;
    font-size: xx-large;
    padding-left: 10px;
}
.nav{
    font-size: x-large;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{
    cursor: pointer;
}
.active{

    opacity: 100%!important;
    border-bottom: 1px solid #FFF;
}
a:active{
    color:indigo!important;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

@media (max-width: 1300px) {
    .nav{
        width:35%
    }
    .logo{
        width:50%
    }
}
@media (max-width: 700px) {
    .nav{
        width:40%;
        font-size: large;
    }
    .logo{
        font-size: large;
    }
}
@media (max-width: 440px) {
    .logo{
        font-size: medium;
    }
    .nav{
        font-size: small;
    }
}