<div class="header">
    <aside routerLink="" class="logo">
        Controle de Produtos
    </aside>
    <aside class="nav">
        <div routerLinkActive="active" routerLink="produto">
            <a>Produto</a>
        </div>
        <div routerLinkActive="active" routerLink="categoria">
            <a>Categoria</a>
        </div>
    </aside>
</div>
<br>