

.dropdown-scroll-resultados{ 
    position: absolute;
    height: 200px; 
    overflow-y: scroll; 
    width: 200px;
    background-color: indigo;
} 
.dropdown-scroll-resultados ul{
    list-style: none;
    text-align:left;
    padding-left: 0px;
}
.dropdown-scroll-resultados li{
    padding: 5px;
    list-style: none;
    text-align:left;
}

.dropdown-scroll-resultados li:hover {
    padding: 4px;
    background-color: #FFF;
    color: indigo;
}
.drop-down-scroll{
    width: 205px;
}

#validacao-categoria{
    position: absolute;
}
.footer button {
    margin-left: 10px;
}

.modal-body input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-body input {
    margin: 5px 10px!important;
}

.modal-button{
    align-self: center;
    margin-top: 10px;
    justify-content: space-evenly;
}
.modal-button button{
    margin: 5px 5px 10px 5px;
}
.lista-mensalidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-mensalidade div{
    width: 150px;
}
.lista-mensalidade-item{
    padding-left: 20px;
    text-align: start;
}
.validacao-mensalidade{
    width: 100%;
    border: 1px solid red;
    color:red
}