<div class="corpo" [ngClass]="{'formulario-desativado' : this.formularioDesativado}">
    <div class="titulo">{{ this.getTitulo() }} de Produtos</div>
    <form class="formulario" [formGroup]="formulario">
        <div>
            <a>
                <div>
                    Nome:
                </div>
                <input formControlName="nome" class="input-media">
                <div class="validacao"
                    *ngIf="formulario.get('nome').errors && (formulario.get('nome').dirty || formulario.get('nome').touched)">
                    <a *ngIf="formulario.get('nome').errors.required">Nome é obrigatório.</a>
                    <a *ngIf="formulario.get('nome').errors.maxlength">Tamanho máximo é 100.</a>
                </div>
            </a>
        </div>
        <br>
        <div>
            <a>
                <div>
                    Descrição:
                </div>
                <input formControlName="descricao" class="input-grande">
                <div class="validacao"
                    *ngIf="formulario.get('descricao').errors && (formulario.get('descricao').dirty || formulario.get('descricao').touched)">
                    <a *ngIf="formulario.get('descricao').errors.required">Descrição é obrigatório.</a>
                    <a *ngIf="formulario.get('descricao').errors.maxlength">Tamanho máximo é 100.</a>
                </div>
            </a>
        </div>
        <br>
        <div>
            <a>
                <div>
                    Valor:
                </div>
                <input formControlName="valor" class="input-pequeno">
                <div class="validacao"
                    *ngIf="formulario.get('valor').errors && (formulario.get('valor').dirty || formulario.get('valor').touched)">
                    <a *ngIf="formulario.get('valor').errors.required">Valor é obrigatório.</a>
                    <a *ngIf="formulario.get('valor').errors.pattern">
                        Formato inválido. Formato válido : 00.00 </a>
                </div>
            </a>
        </div>
        <br>
        <div>
            <a>
                <div>
                    Categoria:
                </div>
                <div class="drop-down-scroll" (click)="mostrarDropDown = !mostrarDropDown">
                    <div id="categoria-input">
                        <input [disabled]="true" formControlName="categoria_nome" (click)="esperaCategoria()"
                            class="input-pequeno" readonly>
                        <div id="validacao-categoria" class="validacao" *ngIf="categoriaInvalid">
                            <a>Categoria é obrigatório.</a>
                        </div>
                    </div>
                    <div *ngIf="mostrarDropDown" class="dropdown-scroll-resultados" infiniteScroll
                        [infiniteScrollDistance]=" 2 " [infiniteScrollThrottle]=" 50 " (scrolled)=" onScroll () "
                        [scrollWindow]=" false ">
                        <ul>
                            <li *ngFor="let item of this.categoria" (click)="setCategoria(item)" value="{{item.nome}}">
                                {{item.nome}}
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <br>
    </form>

    <div class="footer">
        <button *ngIf="!mostrarBotaoSalvar" (click)="popUpMensalidade()">Calcular Mensalidade</button>
        <button *ngIf="mostrarBotaoSalvar" [ngClass]="{'apagado' : !this.formulario.valid}"
            (click)="salvar()">Salvar</button>
    </div>
</div>

<ng-template #templateVoltar>
    <div class="modal-body text-center">
        <p>Dado salvos</p>
        <button type="button" class="btn btn-secondary" (click)="this.fecharPopUp();"
            routerLink="/produto">Voltar</button>
    </div>
</ng-template>

<ng-template #templateMensalidade>
    <div [formGroup]="formMensalidade" class="modal-body text-center">
        <br>
        <div>
            Numero de mensalidades :
            <input formControlName="numero_parcelas" type="number" [value]="quantidadeMensalidade"
                (input)="quantidadeMensalidade = $event.target.value">
            <div class="validacao validacao-mensalidade"
                *ngIf="formMensalidade.get('numero_parcelas').errors && (formMensalidade.get('numero_parcelas').dirty || formMensalidade.get('numero_parcelas').touched)">
                <a *ngIf="formMensalidade.get('numero_parcelas').errors.min">
                    Mensalidades mínima é 1.
                </a>
                <a *ngIf="formMensalidade.get('numero_parcelas').errors.max">
                    Mensalidades máxima é 12.
                </a>
            </div>
        </div>

        <br>
        <div>
            <input formControlName="tipo_juros" value="Simples" type="radio" id="chk1">
            <label>Simples</label>
            <input formControlName="tipo_juros" value="Composto" type="radio" id="chk1">
            <label>Composto</label>
            <div *ngIf="this.semTipoJuros" class="validacao validacao-mensalidade">
                <a>
                    Escolha um tipo de taxa.
                </a>
            </div>
        </div>
        <div class="modal-button">
            <button type="button" class="btn btn-secondary" (click)="this.fecharPopUp();">Voltar</button>
            <button type="button" class="btn btn-secondary" (click)="this.buscarMensalidades();">Buscar</button>
        </div>
        <div *ngIf="listaMensalidades | async" class="lista-mensalidade">
            <h4>Mensalidades</h4>
            <div *ngFor="let item of (listaMensalidades | async)?.data?.mensalidades;  let i = index"
                class="lista-mensalidade-item">
                <strong>{{i + 1 }}º</strong> - R$ {{ item }}
            </div>
        </div>
    </div>
</ng-template>