.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: indigo;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: indigo;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
}
.tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}
.icone{
    height: 200px;
    width: 200px;
}