
.tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}
.icone{
    height: 200px;
    width: 200px;
}