<div class="corpo" [ngClass]="{'formulario-desativado' : this.formularioDesativado}">
    <div class="titulo">{{ this.getTitulo() }} de Categorias</div>
    <form class="formulario" [formGroup]="formulario">
        <div>
            <a>
                <div>
                    Nome:
                </div>
                <input class="form-control input-media" formControlName="nome">
                <div class="validacao"
                    *ngIf="formulario.get('nome').errors && (formulario.get('nome').dirty || formulario.get('nome').touched)">
                    <a *ngIf="formulario.get('nome').errors.required">Nome é obrigatório.</a>
                    <a *ngIf="formulario.get('nome').errors.maxlength">Tamanho máximo é 100.</a>
                </div>
            </a>
        </div>
        <div>
            <a>
                <div>
                    Taxa:
                </div>
                <input class="form-control input-media" formControlName="taxa">
                <div class="validacao"
                    *ngIf="formulario.get('taxa').errors && (formulario.get('taxa').dirty || formulario.get('taxa').touched)">
                    <a *ngIf="formulario.get('taxa').errors.required">Taxa é obrigatório.</a>
                    <a *ngIf="formulario.get('taxa').errors.pattern">Taxa inválida.</a>
                </div>
            </a>
        </div>
    </form>
    <div class="footer">
        <button *ngIf="mostrarBotao" [ngClass]="{'apagado' : !this.formulario.valid}" (click)="salvar()">Salvar</button>
    </div>
</div>

<ng-template #templateVoltar>
    <div class="modal-body text-center">
        <p>{{ this.mensagem }}</p>
        <button type="button" class="btn btn-secondary" (click)="this.modalRef?.hide();"
            routerLink="/categoria">Voltar</button>
    </div>
</ng-template>