body{
    margin: 0px;
}

.corpo{
    background-color :indigo;
    height: max-content;
    margin: 0px 15vw 0px 15vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFF;
    font-family: sans-serif;
    font-weight: bold;

}
.titulo{
    font-size: xx-large;
    border-bottom: 1px solid #FFF;
    padding: 15px;
}
.formulario{
    height: max-content;
    font-size: large;
    background-color: rgb(161, 120, 190);
    padding: 15px 10px;
    margin: 0px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding: 10px;
    border-top: 1px solid #FFF;
}
.footer button{
    border: none;
    padding: 5px px;
    border-radius: 2px;
    font-weight: bold;
    color: indigo;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: large;
}
.formulario input {
    padding: 4px;
    border: none;
    overflow: visible;
}
.input-pequeno{
    width: 200px;
}
.input-media{
    width: 400px;
}
.input-grande{
    width: 700px;
}
.formulario input:focus {
    outline: solid indigo;
}
.validacao{
    margin: 1px;
    width: max-content;
    padding: 5px;
    border: 1px indigo solid;
    border-radius: 5px;
    color: indigo;
    background-color: #FFF;
}
.apagado{
    color: #CCC !important;
    cursor: wait;
}
.formulario-desativado input{
    pointer-events: none;
}

@media (max-width: 1025px) {
    .input-grande {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .titulo{
        font-size: large;
    }
    .formulario{
        font-size: medium;

    }
    .input-media, .input-grande {
        width: 100%;
    }
    .corpo{
        margin: 10px;
    }
}
.page-item.active .page-link {
    background-color: indigo;
    border-color: indigo;
}
.page-link{
    color: indigo;
}
.page-link:active{
    color: indigo;
    border-color: indigo;
    box-shadow: 0px 0px 4px indigo;
}
.page-link:hover{
    color: indigo;
}
.active{
    box-shadow: 0px 0px 4px indigo!important;
}
